/* Header.css */

/* Styles for the header */
.header {
    background-color: rgb(158, 29, 29);
    position: fixed;
    color: white;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  
  .left-side h1 {
    margin: 0;
    float: left;
    margin-left: 100px;
  }
  
  /* Styles for the cart button */
  .cart-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* Styles for the right-side content */
  .right-side {
    display: flex;
    padding: 10px;
    float: right;
    width: 200px;
    margin-left: 750px;
    background-color: rgb(112, 25, 25);
    border-radius: 26px;
  }
  
  /* Styles for cart icon, text, and count */
  .cart-icon {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: #fff;
  }
  
  .cart-icon i {
    margin-right: 10px;
  }
  
  .cart {
    margin-left: 10px;
  }
  
  .cart-count {
    background-color: rgb(158, 29, 29);
    color: #fff;
    border-radius: 40%;
    padding: 5px 8px;
    margin-left: 10px;
  }
  